*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 60px;
}

.tag{
  background-color: gray;
  padding: 2px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

hr{
  margin: 48px 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.h-30{
  height: 30px;
}

h1{
  margin: 16px 0 32px;
  font-size: 40px;
}
h2{
  margin: 16px 0;
  font-size: 32px;
}

h3{
  margin: 16px 0 16px;
  font-size: 24px;
}

h4{
  margin: 16px 0 16px;
  font-size: 16px;
}

ul, ol{
  padding-left: 16px;
}

p{
  margin: 2px 0 4px;
}

button{
  padding: 6px 12px;
  font-size: 16px;
  line-height: 20px;
  margin: 4px 0;
  color: white;
  background: rgb(57, 113, 234);
  border: none;
  border-radius: 4px;
}

button:hover{
  background: rgb(77, 133, 254);
  cursor: pointer;
}

input[type='text'], select{
  padding: 4px 8px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #ccc;
}

code{
  display: block;
  padding: 8px 16px;
  background-color: #e7e7e7;
  color:rgb(102, 102, 102);
  margin: 20px 0;
}

code.white{
  background-color: white;
  border: 1px solid gray;
}

.table{
  width: 100%;
  border: 1px solid gray;
  text-align: center;
  padding: 4px;
}

.table tbody tr:nth-child(odd){
  background-color: #ccc;
}

.text-green{
  color: green;
}