body {
  position: relative;
}
header {
  background-color: black;
  text-align: right;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}
header ul li {
  display: inline-block;
}
header ul li a {
  color: white;
  display: block;
  padding: 8px;
}
header .logo{
  color: white;
  padding: 10px;
  text-decoration: none;
}